{{- range .BlogPages }}
<hr class="first-of-type:hidden border-t-2 border-dotted border-main-hard">
<div class="w-full flex flex-row items-stretch">
    <div class="relative min-h-24 flex flex-col w-28 overflow-hidden shrink-0 mask-r-from-70% mask-r-to-100%">
        <img onclick="return changeUrl('{{ .ArticleLink }}');" class="h-full min-h-24 w-full cursor-pointer select-none object-cover block absolute" src="{{ printf $.ThumbnailBaseUrl .Thumbnail }}">
        <div class="w-full h-6 flex flex-row mt-auto relative">
            <div class="flex-1/2 flex flex-row justify-center select-none bg-linear-180 {{ if .Liked }}from-accent-deep/40 to-accent-deep/80 text-background-dark{{ else }}from-accent-light/40 to-accent-light/80 text-main-hard{{ end }}">
                <svg viewBox="0 0 24 24"><use href="#icon-like"/></svg>
                <span>{{ .LikeCount }}</span>
            </div>
            <div class="flex-1/2 flex flex-row justify-center select-none bg-linear-180 {{ if .Viewed }}from-accent-deep/40 to-accent-deep/80 text-background-dark{{ else }}from-accent-light/40 to-accent-light/80 text-main-hard{{ end }}">
                <svg viewBox="0 0 24 24"><use href="#icon-view"/></svg>
                <span>{{ .ViewCount }}</span>
            </div>
        </div>
    </div>
    <div class="grow w-full h-fit flex flex-col justify-center my-auto py-1 px-1">
        <div class="flex flex-row gap-2 max-w-full">
            <a href="{{ .ArticleLink }}" onclick="return changeUrl('{{ .ArticleLink }}');" class="grow-2 text-base cursor-pointer font-m-plus">
                <span class="font-extrabold">{{ .Title }}</span>
                <span class="italic">[{{ .ActionDate }}]</span>
            </a>
            <p class="basis-56 grow text-base italic text-secondary text-right">{{ .PublishedTime }}</p>
        </div>
        <p class="font-gentium">{{ .ShortDescription }}</p>
        <p class="font-m-plus text-sm">{{ $.L.TagsLabel }} {{ template "catalogue-blog-card-tags.html" . }}</p>
    </div>
</div>
{{- end }}