<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAYA TODAY // {{ .Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Patua+One&display=swap" rel="stylesheet">
    {{ block "header" . }}{{ end }}
    <link href="/output.css" rel="stylesheet">
</head>

<body data-theme="ram" class="font-spectral text-main-dark overflow-hidden bg-interlocked-hexagons h-screen flex flex-row ar-lt-0.8:flex-col">

    <script>
        function switchTheme(theme) {
            if (theme == "" || typeof theme == "undefined") {
                const currentTheme = document.body.getAttribute('data-theme');
                switch (currentTheme) {
                    case "olive": theme = "lettuce"; break;
                    case "lettuce": theme = "night"; break;
                    case "night": theme = "ram"; break;
                    case "ram": theme = "olive"; break;
                }
            }
            localStorage.setItem('theme', theme);
            document.body.setAttribute('data-theme', theme);
        }

        const savedTheme = localStorage.getItem('theme') || 'ram';
        switchTheme(savedTheme);
    </script>

    <script>
        const clientTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>

    <div id="sidebar" class="bg-sidebar flex sticky flex-col ar-gt-0.8:items-center shadow-2xl z-20 w-[5vw] ar-lt-0.8:w-[90vw] ar-lt-0.4:w-[100vw] h-screen ar-lt-0.8:h-[8vh] ar-lt-0.8:ml-[5vw] ar-lt-0.4:ml-0">
        <div class="logo-custom ar-lt-0.8:hidden text-sidebar font-patua font-extrabold text-center relative z-20">
            saya.today
        </div>
        <div class="text-[3vw] ar-lt-0.8:text-[5vh] text-stroke-(--sidebar-stroke-color) text-stroke-[0.1vw] flex flex-col ar-lt-0.8:flex-row gap-0 relative z-20">
            <i onclick="location.href='/';" class="fas fa-home w-[5vw] ar-lt-0.8:w-[8vh] h-[5vw] ar-lt-0.8:h-[8vh] content-center text-center text-sidebar hover:bg-background-dark cursor-pointer transition-colors duration-300 flex rounded-lg"></i>
            <i onclick="location.href='/{{ .Lang }}/blog';" class="fas fa-search w-[5vw] ar-lt-0.8:w-[8vh] h-[5vw] ar-lt-0.8:h-[8vh] content-center text-center text-sidebar hover:bg-background-dark cursor-pointer transition-colors duration-300 flex rounded-lg"></i>
            <i onclick="location.href='/{{ .Lang }}/map';" class="fas fa-map w-[5vw] ar-lt-0.8:w-[8vh] h-[5vw] ar-lt-0.8:h-[8vh] content-center text-center text-sidebar hover:bg-background-dark cursor-pointer transition-colors duration-300 flex rounded-lg"></i>
            <i onclick="toggleThemeWheel();" id="theme-button" class="fas fa-swatchbook w-[5vw] ar-lt-0.8:w-[8vh] h-[5vw] ar-lt-0.8:h-[8vh] content-center text-center text-sidebar hover:bg-background-dark cursor-pointer transition-colors duration-300 flex rounded-lg"></i>
        </div>
        <div class="theme-wheel" id="theme-wheel">
            <div class="theme-icon" data-theme="olive"></div>
            <div class="theme-icon" data-theme="lettuce"></div>
            <div class="theme-icon" data-theme="night"></div>
            <div class="theme-icon" data-theme="ram"></div>
        </div>
    </div>

    <div class="bg-background-dark flex z-10 ar-lt-0.8:w-[90vw] ar-lt-0.4:w-[100vw] h-screen ar-lt-0.8:ml-[5vw] ar-lt-0.4:ml-0">
        <div class="pl-[0.5vw] bg-background-dark border-r-[0.4vmin] border-dashed border-main-dark"></div>

        <div class="ar-gt-0.8:min-w-fit ar-gt-0.8:max-w-[100vh] flex flex-col bg-background-dark relative pt-[1.6vmin] ml-[1.6vmin] pr-[1.6vmin]">
            <div {{ if .PublishedDate }} hx-get="/api/v1/tz" hx-vals='js:{timestamp: "{{ .PublishedDate }}", tz: clientTimeZone}' hx-target="#published-date" hx-swap="innerHTML" hx-trigger="load" {{ end }}
                class="flex flex-row mb-[0.4vmin]">
                <i onclick="location.pathname += location.pathname.endsWith('/') ? '../' : '/../';" class="fas fa-circle-left hover:bg-main-dark hover:bg-opacity-10 cursor-pointer transition-colors duration-300 rounded-md text-[2vmax] mt-auto mb-auto px-[0.8vmin]"></i>
                <p class="text-[2vmax] font-spectral italic font-extrabold select-none mt-auto pl-[0.8vmin] pr-[1.2vmin]">//</p>
                <p class="text-[2vmax] font-spectral italic text-left mt-auto">{{ .Title }}</p>
                <p id="published-date" class="grow text-[1.5vmax] font-spectral text-secondary text-right mt-auto">{{ .PublishedDate }}</p>
            </div>
            <hr class="border-t-4 border-dotted border-main-dark mb-[0.8vmin]">

            {{ block "body" . }}{{ end }}

            <div class="flex flex-row mt-[0.8vmin] mb-[0.4vmin]">
                <p class="grow text-[0.8vmax]/[0.9] font-spectral italic text-right text-secondary mr-2">
                    All the photos on <a href="https://saya.today/">saya.today</a> are licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> by <a href="https://t.me/EarlInisMona">Saya Andy</a> © {{ .PublishedYear }}
                </p>
                <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width:1.2vh; max-height:1.2vh;">
                <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width:1.2vh; max-height:1.2vh;">
                <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width:1.2vh; max-height:1.2vh;">
            </div>

            <hr class="border-t-4 border-dotted border-main-dark mb-[0.8vmin]">
        </div>

        <div class="pr-[0.5vw] bg-background-dark shadow-2xl border-l-[0.4vmin] border-dotted border-main-dark"></div>
    </div>

    <script src="https://f003.backblazeb2.com/file/sayana-static/libs/htmx/2.0.6/htmx.min.js"></script>

    <script>
        const themeWheel = document.getElementById('theme-wheel');
        const themeButton = document.getElementById('theme-button');
        const themeIcons = document.querySelectorAll('.theme-icon');

        themeIcons.forEach(icon => {
            if (icon.getAttribute('data-theme') == savedTheme) {
                icon.classList.add('active');
            }
        });

        function calculateVmin(percent) {
            const viewportWidth = window.innerWidth;
            const viewportHeight = window.innerHeight;

            const smallerDimension = Math.min(viewportWidth, viewportHeight);

            const vminValue = (smallerDimension / 100) * percent;

            return vminValue;
        }

        function calculateVmax(percent) {
            const viewportWidth = window.innerWidth;
            const viewportHeight = window.innerHeight;

            const largerDimension = Math.max(viewportWidth, viewportHeight);

            const vmaxValue = (largerDimension / 100) * percent;

            return vmaxValue;
        }

        function positionThemeIcons() {
            const icons = themeWheel.querySelectorAll('.theme-icon');
            const iconCount = icons.length;
            const vmax = calculateVmax(1);
            const wheelRadius = 7.5*vmax; // Radius of the wheel
            const iconRadius = 4*vmax; // Distance from center to place icons
            const iconSize = 3*vmax; // Half of icon size for centering

            icons.forEach((icon, index) => {
                const angle = (index * 360 / iconCount) - 90;
                const angleRad = (angle * Math.PI) / 180;

                const x = Math.cos(angleRad) * iconRadius + wheelRadius - iconSize;
                const y = Math.sin(angleRad) * iconRadius + wheelRadius - iconSize;

                icon.style.left = x + 'px';
                icon.style.top = y + 'px';
            });
        }

        function positionThemeWheel() {
            const buttonRect = themeButton.getBoundingClientRect();
            const buttonCenterX = buttonRect.left + buttonRect.width / 2;
            const buttonCenterY = buttonRect.top + buttonRect.height / 2;

            const wheelRadius = calculateVmax(7.5);
            const margin = calculateVmax(1);

            let wheelX = buttonCenterX - wheelRadius;
            let wheelY = buttonCenterY - wheelRadius;

            const viewportWidth = window.innerWidth;
            const viewportHeight = window.innerHeight;

            if (wheelX < margin) {
                wheelX = margin;
            } else if (wheelX + (wheelRadius * 2) > viewportWidth - margin) {
                wheelX = viewportWidth - (wheelRadius * 2) - margin;
            }

            if (wheelY < margin) {
                wheelY = margin;
            } else if (wheelY + (wheelRadius * 2) > viewportHeight - margin) {
                wheelY = viewportHeight - (wheelRadius * 2) - margin;
            }

            themeWheel.style.left = wheelX + 'px';
            themeWheel.style.top = wheelY + 'px';
        }

        function hideThemeWheel() {
            themeWheel.classList.remove('active');
        }

        function showThemeWheel() {
            positionThemeWheel();
            positionThemeIcons();
            themeWheel.classList.add('active');
        }

        function toggleThemeWheel() {
            if (themeWheel.classList.contains('active')) {
                hideThemeWheel();
            } else {
                showThemeWheel();
            }
        }

        themeIcons.forEach(icon => {
            icon.addEventListener('click', (e) => {
                e.stopPropagation();
                const theme = icon.getAttribute('data-theme');
                switchTheme(theme);
                themeIcons.forEach(icon => {
                    icon.classList.remove('active');
                })
                icon.classList.add('active');
            });
        });

        themeWheel.addEventListener('mouseleave', hideThemeWheel);

        document.addEventListener('click', (e) => {
            if (!themeWheel.contains(e.target) && e.target !== themeButton) {
                hideThemeWheel();
            }
        });
    </script>

    {{ block "footer" . }}{{ end }}

</body>
</html>
