{{ define "body" }}
<div class="absolute w-full h-full inset-0 inset-shadow-[0_0_0.4rem_black] pointer-events-none z-20"></div>
<div class="relative bg-background-light flex flex-col px-8 py-4 overflow-y-auto">
    <p class="max-xs:block [@media(max-height:32rem)]:block hidden font-andika text-2xl font-bold italic text-main-hard tracking-[.0125rem] mb-1">{{ .Title }}</p>
    <p class="block grow text-lg font-andika text-secondary">
        <b>{{ .L.Metadata.Published }}</b>: 
        <span hx-get="/api/v1/tz" hx-vals='js:{timestamp: "{{ .PublishedDate }}", tz: clientTimeZone}' hx-target="this" hx-swap="innerHTML" hx-trigger="load">
            {{ .PublishedDate }}
        </span>
    </p>
    <p class="block grow text-lg font-andika text-secondary"><b>{{ .L.Metadata.Action }}</b>: {{ .ActionDate }}</p>
    <p class="block grow text-md font-andika italic text-main-hard">{{ .ShortDescription }}</p>
    <hr class="block border-t-2 border-dotted border-main-hard mt-1 mb-2 w-full ml-auto mr-auto">
    {{ .ParsedMarkdown }}
{{- if .MapLocationX }}
    <hr class="border-t-3 border-dotted border-main-hard mt-1 mb-2 w-[80%] ml-auto mr-auto">
    <div id="map-container" class="relative p-1 flex-none ml-auto mr-auto w-[60%] ar-lt-0.8:w-[80%] h-[40dvh] ar-lt-0.8:h-[30dvh]"></div>
    <hr class="border-t-3 border-dotted border-main-hard mt-1 mb-2 w-[80%] ml-auto mr-auto">

    <script>
        function initLocationMap(id, x, y, relativeErrorMeters = 0) {
            map = L.map(id).setView([x, y], 8);

            L.tileLayer('https://{s}.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: '<a href="https://github.com/cyclosm/cyclosm-cartocss-style/releases" title="CyclOSM - Open Bicycle render">CyclOSM</a> | Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            if (relativeErrorMeters != 0) {
                var circle = L.circle([x, y], {
                    color: '#8a9d8a',
                    fillColor: '#8a9d8a',
                    fillOpacity: 0.15,
                    radius: relativeErrorMeters
                }).addTo(map);
            }

            var marker = L.marker([x, y], {
                title: '{{ .Title }}',
            }).addTo(map)
                .bindPopup('<span><b>{{ .Title }}</b><br><a href="https://www.openstreetmap.org/#map=13/{{ .MapLocationX }}/{{ .MapLocationY }}">{{ .MapLocationX }}, {{ .MapLocationY }}</a></span>')
                .openPopup();
        }

        if (map) {
            map.remove();
            map = null;
        }

        setTimeout(() => initLocationMap(
            'map-container',
            {{ .MapLocationX }},
            {{ .MapLocationY }},
            {{ .MapLocationAreaMeters }}
        ), 1000);

        var lightbox = GLightbox({
            selector: '.glightbox',
            moreLength: 0
        });
    </script>
{{- end }}
</div>
{{ end }}

{{ define "header" }}
<div hx-get="/api/v1/like" hx-target="this" hx-swap="outerHTML" hx-trigger="load"></div>
{{ end }}
