{{ define "top-embeds" }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/css/lightgallery.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/css/lg-zoom.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/css/lg-thumbnail.min.css">
{{- if .MapLocationX }}
<link rel="stylesheet" href="https://f003.backblazeb2.com/file/sayana-static/libs/leaflet/1.9.4/leaflet.css">
{{- end }}

<style>
    .map-container .leaflet-container {
        width: 100% !important;
        height: 100% !important;
    }
</style>

<script>
    const galleryMap = new Map();
</script>
{{ end }}

{{ define "body" }}
<div class="bg-background-light flex flex-col inset-shadow p-[2.4vmin] overflow-y-auto">
    {{ .ParsedMarkdown }}
{{- if .MapLocationX }}
    <hr class="border-t-4 border-dotted border-main-dark mt-[0.8vmin] mb-[0.8vmin] w-[80%] ml-auto mr-auto">
    <div id="map-container" class="relative p-[0.8vmin] flex-none ml-auto mr-auto w-[60%] ar-lt-0.8:w-[80%] h-[40vh] ar-lt-0.8:h-[30vh]"></div>
    <hr class="border-t-4 border-dotted border-main-dark mt-[0.8vmin] mb-[0.8vmin] w-[80%] ml-auto mr-auto">
{{- end }}
</div>
{{ end }}

{{ define "footer" }}
<div hx-get="/api/v1/like" hx-target="this" hx-swap="outerHTML" hx-trigger="load"></div>
{{ end }}

{{ define "bottom-embeds" }}
<script src="https://f003.backblazeb2.com/file/sayana-static/libs/lightgallery/2.8.3/lightgallery.min.js"></script>
<script src="https://f003.backblazeb2.com/file/sayana-static/libs/lightgallery/2.8.3/plugins/lg-zoom.min.js"></script>
<script src="https://f003.backblazeb2.com/file/sayana-static/libs/lightgallery/2.8.3/plugins/lg-thumbnail.min.js"></script>
{{- if .MapLocationX }}
<script src="https://f003.backblazeb2.com/file/sayana-static/libs/leaflet/1.9.4/leaflet.js"></script>

<script>
    var map;

    function initLocationMap(id, x, y, relativeErrorMeters = 0) {
        map = L.map(id).setView([x, y], 8);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        if (relativeErrorMeters != 0) {
            var circle = L.circle([x, y], {
                color: '#8a9d8a',
                fillColor: '#8a9d8a',
                fillOpacity: 0.15,
                radius: relativeErrorMeters
            }).addTo(map);
        }

        var marker = L.marker([x, y], {
            title: '{{ .Title }}',
        }).addTo(map)
            .bindPopup('<span><b>{{ .Title }}</b><br><a href="https://www.openstreetmap.org/#map=13/{{ .MapLocationX }}/{{ .MapLocationY }}">{{ .MapLocationX }}, {{ .MapLocationY }}</a></span>')
            .openPopup();
    }

    document.addEventListener('DOMContentLoaded', () => {initLocationMap(
        'map-container',
        {{ .MapLocationX }},
        {{ .MapLocationY }},
        {{ .MapLocationAreaMeters }}
    )});

    let galleryResizeTimeout;
    window.addEventListener('resize', function() {
        clearTimeout(galleryResizeTimeout);
        galleryResizeTimeout = setTimeout(() => {
            map.invalidateSize();
            var oldGalleryMap = new Map(galleryMap);
            oldGalleryMap.forEach((createFunc, g, map) => {
                galleryMap.delete(g);
                g.destroy();
                createFunc();
            });
        }, 300);
    });
</script>
{{- end }}
{{ end }}