@import "tailwindcss";

@theme {
    --color-olive-dark: #4b513a;
    --color-olive-medium: #8a9d8a;
    --color-olive-light: #a5b8a5;
    --color-cream-dark: #ffffdd;
    --color-cream-light: #fffff0;
    --color-lettuce-dark: #384a0c;
    --color-lettuce-medium: #9bb665;
    --color-lettuce-light: #bbd095;
    --color-sunny-dark: #f5eee2;
    --color-sunny-light: #fff93f;

    --font-spectral: Spectral, serif;
    --font-patua: "Patua One", cursive;
}

[data-theme="olive"] {
    --main-dark-color: #4b513a;
    --main-medium-color: #8a9d8a;
    --main-light-color: #a5b8a5;
    --background-dark-color: #ffffdd;
    --background-light-color: #fffff0;
    --sidebar-text-color: var(--background-dark-color);
    --sidebar-stroke-color: var(--main-dark-color);
    --secondary-color: var(--main-light-color);
    --interlocked-hexagons-background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ffffdb%22%2F%3E%3Cpath%20fill%3D%22%23777e63%22%20d%3D%22m33.64%200-.17.25h-33L4.3%206h33.07l4-6zm8.33%200-4.33%206.5h-33l3.83%205.75h33.06L49.7%200zm8.34%200-8.5%2012.75h-33l3.83%205.75H45.7L58.03%200zm8.33%200L45.97%2019h-33l3.83%205.75h33.06L66.36%200zm-8.5%2025.25L33.63%2050l3.86%205.8L54.03%2031h33l-3.83-5.75zm4.16%206.25L37.8%2056.25l3.87%205.8%2016.53-24.8h33l-3.84-5.75zm4.17%206.25L41.97%2062.5l3.86%205.8%2016.54-24.8h33l-3.84-5.75zM62.63%2044l-16.5%2024.75%203.87%205.8%2016.53-24.8h33L95.7%2044zM100%2050.45l-3.87%205.8%203.87%205.81v-11.6zM0%2050.46v11.6L12.5%2080.8l3.86-5.8zm95.83%206.25-3.87%205.8L100%2074.55v-11.6zm-4.17%206.24-3.86%205.8%2012.2%2018.3v-11.6zM0%2062.96v11.6l8.33%2012.49%203.86-5.8zm87.5%206.24L83.63%2075%20100%2099.54V87.96zM50%2075.45%2033.64%20100h7.72l12.5-18.75zm-50%200v11.6l4.16%206.24%203.87-5.8zm54.17%206.25L41.97%20100h7.73l8.33-12.5zm4.17%206.25L50.3%20100h7.73l4.17-6.25zM0%2087.95v11.59l3.86-5.8zm62.5%206.25-3.87%205.8h7.73z%22%2F%3E%3Cpath%20fill%3D%22%23a0a182%22%20d%3D%22M66.8.25%2062.97%206h33l4.03%206.05V.45l-.14-.2zM0%20.45v11.61L12.5%2030.8l3.86-5.8zM62.63%206.5l-3.83%205.75h33l8.2%2012.3v-11.6L95.7%206.5zm-4.16%206.25-3.84%205.75h33L100%2037.06v-11.6l-8.47-12.71zM0%2012.96v11.6l8.33%2012.49%203.86-5.8zM54.3%2019l-3.84%205.75h33L100%2049.55l.01-.01V37.96L87.36%2019zm-4.77%206.25H41.8L25.3%2050l16.66%2025-16.5%2024.75h7.74L49.7%2075%2033.03%2050zm-8.33%200h-7.74L16.96%2050l16.67%2025-16.5%2024.75h7.73L41.36%2075%2024.7%2050Zm-8.34%200h-7.73L8.63%2050%2025.3%2075%208.8%2099.75h7.73L33.03%2075%2016.36%2050zm-16.07%200L.3%2050l16.67%2025L.46%2099.75H8.2L24.7%2075%208.02%2050l16.5-24.75zM0%2025.46v11.6l4.16%206.24%203.87-5.8zm0%2012.5v11.58l3.86-5.79zm66.8%2012.29L50.3%2074.99l3.87%205.81%204.16%206.25%204.17%206.25%204.3%206.45h7.73L58.03%2075l16.5-24.75zm16.06%200h-7.73L58.63%2075l16.5%2024.75h7.73L66.36%2075zm.6%200L66.96%2075l16.5%2024.75h7.74L74.7%2075l16.5-24.75zm16.07%200H91.8L75.3%2075l16.5%2024.75h7.73L83.03%2075z%22%2F%3E%3C%2Fsvg%3E");
    --interlocked-hexagons-background-repeat: repeat;
    --interlocked-hexagons-background-size: 10vh;
    --squares-and-triangles-background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%234a5139%22%2F%3E%3Cpath%20fill%3D%22%23b2b285%22%20d%3D%22M0%200v6.77L6.72%200zm8.91%200L0%208.96v3.86L12.83%200zm6.11%200L0%2015.06v3.87L18.9%200zm6.11%200L0%2021.12v3.92L25%200zM25%200l25%2024.99v-3.87L28.87%200zm25%2024.99%2025%2024.98L100%2025%2075%200zm-50%20.05v3.87l21.13%2021.12H25l-25-25zm25%2024.99h3.87L50%2028.9v-3.87zm0%200L0%2075l25%2025%2025-24.99zM50%2075l25-24.98h-3.87L50%2071.14v3.87zm0%200v3.87L71.13%20100H75L50%2075.01zm25%2025h3.87L100%2078.88v-3.87zm25-24.99v-3.87L78.87%2050.03H75L100%2075zM31.1%200%2050%2018.93v-3.87L34.98%200h-3.87zm6.07%200L50%2012.82V8.96L41.04%200zm6.1%200L50%206.77V0h-6.72zM25%202.19%202.14%2025.04H25zm0%2022.85v22.8l22.81-22.8zM75%203.92l21.13%2021.12L75%2046.16%2053.87%2025.04zm0%202.19L56.06%2025.04l18.89%2018.88%2018.94-18.88L75%206.1zm0%203.92%2015.07%2015L75%2040.06%2059.98%2025.04zm0%202.18L62.17%2025.04%2075%2037.86l12.83-12.82L75%2012.2zm0%203.82%208.96%209L75%2033.95%2066.04%2025zm0%202.24-6.72%206.77L75%2031.76l6.77-6.72h-.05zM0%2031.09v3.87l15.02%2015.07h3.87zm50%200L31.1%2050.03h3.88L50%2034.96V31.1zM0%2037.2v3.87l8.91%208.96h3.92zm50%200L37.17%2050.03h3.87L50%2041.07zM0%2043.3v6.73h6.72zm50%200-6.72%206.73H50zm0%206.73v6.71l6.72-6.71zm8.96%200L50%2058.93v3.92l12.83-12.82zm6.06%200L50%2065.03v3.88l18.94-18.88zm16.09%200L100%2068.9v-3.87l-15.02-15zm6.11%200L100%2062.85v-3.92l-8.91-8.9zm6.06%200%206.72%206.71v-6.71zM75%2052.2%2052.19%2075H75zM75%2075v22.8L97.81%2075zM25%2053.9l21.13%2021.12L25%2096.13%203.87%2075.01zm0%202.2L6.1%2074.95l18.95%2018.88%2018.9-18.88L25%2056.08zm0%203.9%2015.02%2015.01L25%2090.03%209.98%2075zm0%202.19L12.17%2075%2025%2087.84%2037.83%2075%2025%2062.2zm0%203.87L33.96%2075%2025%2083.97%2016.04%2075zm0%202.23-6.72%206.72L25%2081.73l6.72-6.72L25%2068.3zm25%2012.83v3.87L65.02%20100h3.87zm50%200L81.1%20100h3.88L100%2084.99zm-50%206.06v3.86l8.96%208.96h3.87zm50%200L87.22%20100h3.87l8.91-8.96zm-50%206.1V100h6.72zm50%200L93.28%20100H100z%22%2F%3E%3C%2Fsvg%3E");
    --squares-and-triangles-background-repeat: repeat;
    --squares-and-triangles-background-width-coef: 10;
    --squares-and-triangles-background-height-coef: 10;
}

[data-theme="lettuce"] {
    --main-dark-color: #384a0c;
    --main-medium-color: #9bb665;
    --main-light-color: #bbd095;
    --background-dark-color: #f5eee2;
    --background-light-color: #fff9ef;
    --sidebar-text-color: var(--main-dark-color);
    --sidebar-stroke-color: var(--background-dark-color);
    --secondary-color: var(--main-medium-color);
    --interlocked-hexagons-background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23f5ede1%22%2F%3E%3Cpath%20fill%3D%22%239ab663%22%20d%3D%22m33.64%200-.17.25h-33L4.3%206h33.07l4-6zm8.33%200-4.33%206.5h-33l3.83%205.75h33.06L49.7%200zm8.34%200-8.5%2012.75h-33l3.83%205.75H45.7L58.03%200zm8.33%200L45.97%2019h-33l3.83%205.75h33.06L66.36%200zm-8.5%2025.25L33.63%2050l3.86%205.8L54.03%2031h33l-3.83-5.75zm4.16%206.25L37.8%2056.25l3.87%205.8%2016.53-24.8h33l-3.84-5.75zm4.17%206.25L41.97%2062.5l3.86%205.8%2016.54-24.8h33l-3.84-5.75zM62.63%2044l-16.5%2024.75%203.87%205.8%2016.53-24.8h33L95.7%2044zM100%2050.45l-3.87%205.8%203.87%205.81v-11.6zM0%2050.46v11.6L12.5%2080.8l3.86-5.8zm95.83%206.25-3.87%205.8L100%2074.55v-11.6zm-4.17%206.24-3.86%205.8%2012.2%2018.3v-11.6zM0%2062.96v11.6l8.33%2012.49%203.86-5.8zm87.5%206.24L83.63%2075%20100%2099.54V87.96zM50%2075.45%2033.64%20100h7.72l12.5-18.75zm-50%200v11.6l4.16%206.24%203.87-5.8zm54.17%206.25L41.97%20100h7.73l8.33-12.5zm4.17%206.25L50.3%20100h7.73l4.17-6.25zM0%2087.95v11.59l3.86-5.8zm62.5%206.25-3.87%205.8h7.73z%22%2F%3E%3Cpath%20fill%3D%22%23bbd095%22%20d%3D%22M66.8.25%2062.97%206h33l4.03%206.05V.45l-.14-.2zM0%20.45v11.61L12.5%2030.8l3.86-5.8zM62.63%206.5l-3.83%205.75h33l8.2%2012.3v-11.6L95.7%206.5zm-4.16%206.25-3.84%205.75h33L100%2037.06v-11.6l-8.47-12.71zM0%2012.96v11.6l8.33%2012.49%203.86-5.8zM54.3%2019l-3.84%205.75h33L100%2049.55l.01-.01V37.96L87.36%2019zm-4.77%206.25H41.8L25.3%2050l16.66%2025-16.5%2024.75h7.74L49.7%2075%2033.03%2050zm-8.33%200h-7.74L16.96%2050l16.67%2025-16.5%2024.75h7.73L41.36%2075%2024.7%2050Zm-8.34%200h-7.73L8.63%2050%2025.3%2075%208.8%2099.75h7.73L33.03%2075%2016.36%2050zm-16.07%200L.3%2050l16.67%2025L.46%2099.75H8.2L24.7%2075%208.02%2050l16.5-24.75zM0%2025.46v11.6l4.16%206.24%203.87-5.8zm0%2012.5v11.58l3.86-5.79zm66.8%2012.29L50.3%2074.99l3.87%205.81%204.16%206.25%204.17%206.25%204.3%206.45h7.73L58.03%2075l16.5-24.75zm16.06%200h-7.73L58.63%2075l16.5%2024.75h7.73L66.36%2075zm.6%200L66.96%2075l16.5%2024.75h7.74L74.7%2075l16.5-24.75zm16.07%200H91.8L75.3%2075l16.5%2024.75h7.73L83.03%2075z%22%2F%3E%3C%2Fsvg%3E");
    --interlocked-hexagons-background-repeat: repeat;
    --interlocked-hexagons-background-size: 10vh;
    --squares-and-triangles-background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23bbd095%22%2F%3E%3Cpath%20fill%3D%22%23f5ede1%22%20d%3D%22M0%200v6.77L6.72%200zm8.91%200L0%208.96v3.86L12.83%200zm6.11%200L0%2015.06v3.87L18.9%200zm6.11%200L0%2021.12v3.92L25%200zM25%200l25%2024.99v-3.87L28.87%200zm25%2024.99%2025%2024.98L100%2025%2075%200zm-50%20.05v3.87l21.13%2021.12H25l-25-25zm25%2024.99h3.87L50%2028.9v-3.87zm0%200L0%2075l25%2025%2025-24.99zM50%2075l25-24.98h-3.87L50%2071.14v3.87zm0%200v3.87L71.13%20100H75L50%2075.01zm25%2025h3.87L100%2078.88v-3.87zm25-24.99v-3.87L78.87%2050.03H75L100%2075zM31.1%200%2050%2018.93v-3.87L34.98%200h-3.87zm6.07%200L50%2012.82V8.96L41.04%200zm6.1%200L50%206.77V0h-6.72zM25%202.19%202.14%2025.04H25zm0%2022.85v22.8l22.81-22.8zM75%203.92l21.13%2021.12L75%2046.16%2053.87%2025.04zm0%202.19L56.06%2025.04l18.89%2018.88%2018.94-18.88L75%206.1zm0%203.92%2015.07%2015L75%2040.06%2059.98%2025.04zm0%202.18L62.17%2025.04%2075%2037.86l12.83-12.82L75%2012.2zm0%203.82%208.96%209L75%2033.95%2066.04%2025zm0%202.24-6.72%206.77L75%2031.76l6.77-6.72h-.05zM0%2031.09v3.87l15.02%2015.07h3.87zm50%200L31.1%2050.03h3.88L50%2034.96V31.1zM0%2037.2v3.87l8.91%208.96h3.92zm50%200L37.17%2050.03h3.87L50%2041.07zM0%2043.3v6.73h6.72zm50%200-6.72%206.73H50zm0%206.73v6.71l6.72-6.71zm8.96%200L50%2058.93v3.92l12.83-12.82zm6.06%200L50%2065.03v3.88l18.94-18.88zm16.09%200L100%2068.9v-3.87l-15.02-15zm6.11%200L100%2062.85v-3.92l-8.91-8.9zm6.06%200%206.72%206.71v-6.71zM75%2052.2%2052.19%2075H75zM75%2075v22.8L97.81%2075zM25%2053.9l21.13%2021.12L25%2096.13%203.87%2075.01zm0%202.2L6.1%2074.95l18.95%2018.88%2018.9-18.88L25%2056.08zm0%203.9%2015.02%2015.01L25%2090.03%209.98%2075zm0%202.19L12.17%2075%2025%2087.84%2037.83%2075%2025%2062.2zm0%203.87L33.96%2075%2025%2083.97%2016.04%2075zm0%202.23-6.72%206.72L25%2081.73l6.72-6.72L25%2068.3zm25%2012.83v3.87L65.02%20100h3.87zm50%200L81.1%20100h3.88L100%2084.99zm-50%206.06v3.86l8.96%208.96h3.87zm50%200L87.22%20100h3.87l8.91-8.96zm-50%206.1V100h6.72zm50%200L93.28%20100H100z%22%2F%3E%3C%2Fsvg%3E");
    --squares-and-triangles-background-repeat: repeat;
    --squares-and-triangles-background-width-coef: 10;
    --squares-and-triangles-background-height-coef: 10;
}

[data-theme="night"] {
    --main-dark-color: var(--color-sky-100);
    --main-medium-color: var(--color-sky-200);
    --main-light-color: var(--color-sky-300);
    --background-dark-color: #13131b;
    --background-light-color: #222230;
    --sidebar-text-color: var(--main-dark-color);
    --sidebar-stroke-color: var(--background-light-color);
    --secondary-color: var(--main-light-color);
    --interlocked-hexagons-background: radial-gradient(33.5% 25% at 100% 82%, rgba(190, 227, 248, 0.2) 0%, rgba(197, 179, 246, 0.13) 33.33%, rgba(255, 0, 0, 0) 100%), radial-gradient(54% 25% at 55% 100%, rgba(190, 227, 248, 0.2) 0%, rgba(197, 179, 246, 0.13) 33.33%, rgba(255, 0, 0, 0) 100%), radial-gradient(37% 19.5% at 20% 100%, rgba(176, 220, 248, 0.3) 0%, rgba(197, 172, 247, 0.2) 33.33%, rgba(255, 0, 0, 0) 100%), radial-gradient(63% 34.5% at 66% 77%, rgba(190, 227, 248, 0.15) 0%, rgba(197, 179, 246, 0.1) 33.33%, rgba(255, 0, 0, 0) 100%), linear-gradient(0deg, #2f5883 0%, #2f4e7a 4.75%, #2e4472 9.5%, #2a3065 19%, #272e57 26.5%, #242b4b 34%, #1f2437 49%, #1c2030 57.75%, #1a1b29 66.5%, #13131b 84%);
    --interlocked-hexagons-background-repeat: no-repeat;
    --interlocked-hexagons-background-size: 100vw 100vh;
    --squares-and-triangles-background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%2313131b%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23363645%22%20stroke-width%3D%22.5%22%20d%3D%22M10%2050H0m60-40H50m0%2040v10M10%200v10m21%2030v20m0-60v20m9%2010h20M0%2030h20m0%2010h20V20H20v10zM10%2010h40v40H10zM0%200h60v60H0z%22%2F%3E%3C%2Fsvg%3E");
    --squares-and-triangles-background-repeat: repeat;
    --squares-and-triangles-background-width-coef: 5;
    --squares-and-triangles-background-height-coef: 5;
}

[data-theme="ram"] {
    --main-dark-color: #fefad8;
    --main-medium-color: #f6e4c5;
    --main-light-color: #e8d4b8;
    --background-dark-color: #413b34;
    --background-light-color: #6d6258;
    --sidebar-text-color: var(--main-dark-color);
    --sidebar-stroke-color: var(--background-light-color);
    --secondary-color: var(--main-light-color);
    --interlocked-hexagons-background: url('https://f003.backblazeb2.com/file/sayana-static/themes/ram/ram-background.webp');
    --interlocked-hexagons-background-repeat: repeat;
    --interlocked-hexagons-background-size: auto;
    --squares-and-triangles-background: url('https://f003.backblazeb2.com/file/sayana-static/themes/ram/ram-sidebar.webp');
    --squares-and-triangles-background-repeat: repeat;
    --squares-and-triangles-background-width-coef: 5;
    --squares-and-triangles-background-height-coef: 15;
}

.bg-interlocked-hexagons {
    background-image: var(--interlocked-hexagons-background);
    background-repeat: var(--interlocked-hexagons-background-repeat);
    background-size: var(--interlocked-hexagons-background-size);
}

.bg-squares-and-triangles {
    background-image: var(--squares-and-triangles-background);
    background-repeat: var(--squares-and-triangles-background-repeat);
}

.text-sidebar {
    color: var(--sidebar-text-color);
}

.stroke-sidebar {
    border-color: var(--sidebar-stroke-color);
}

.text-main-dark {
    color: var(--main-dark-color);
}

.text-main-medium {
    color: var(--main-medium-color);
}

.text-background-dark {
    color: var(--background-dark-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.bg-main-dark {
    background-color: var(--main-dark-color);
}

.bg-background-dark {
    background-color: var(--background-dark-color);
}

.bg-background-light {
    background-color: var(--background-light-color);
}

.border-main-dark {
    border-color: var(--main-dark-color);
}

.border-main-medium {
    border-color: var(--main-medium-color);
}

.desktop-sidebar-custom {
    width: 5vw;
    background-size: calc(var(--squares-and-triangles-background-size) * 1vw);
}

.bg-sidebar {
    background-image: var(--squares-and-triangles-background);
    background-repeat: var(--squares-and-triangles-background-repeat);
    background-size: calc(var(--squares-and-triangles-background-width-coef) * 1vw) calc(var(--squares-and-triangles-background-height-coef) * 1vw);
}

body:has(.lg-container:not([class~="lg-inline"])) .desktop-sidebar-custom {
    display: none !important;
}

.mobile-topbar-custom {
    width: 90vw;
    height: 8%;
    background-size: calc(var(--squares-and-triangles-background-size) * 1.6vh);
    margin-left: 5vw;
}

body:has(.lg-container:not([class~="lg-inline"])) .mobile-topbar-custom {
    display: none !important;
}

.logo-custom {
    width: 3.5vw;
    height: 20vw;
    font-size: 2.5vw;
    -webkit-text-stroke: 0.1vw var(--sidebar-stroke-color);
    writing-mode: sideways-lr;
    text-orientation: mixed;
    display: block;
}

.nav-icon-custom {
    font-size: 3vw !important;
    -webkit-text-stroke: 0.1vw var(--sidebar-stroke-color);
    width: 5vw;
    height: 5vw;
    align-content: center;
    text-align: center;
}

.nav-icon-custom:hover {
    font-size: 4vw;
}

.border-left-custom {
    width: 0.5vw;
    border-right: 0.3vh dashed var(--main-dark-color);
}

.border-right-custom {
    width: 0.5vw;
    border-left: 0.5vh dotted var(--main-dark-color);
}

.inset-shadow {
    box-shadow: inset 0vh 1vh 1vh -1vh rgba(75, 81, 58, 0.5),
        inset 1vh 0vh 1vh -1vh rgba(75, 81, 58, 0.5),
        inset -1vh 0vh 1vh -1vh rgba(75, 81, 58, 0.5),
        inset 0vh -0.5vh rgba(75, 81, 58, 0.5);
}

.text-stroke-\(--sidebar-stroke-color\) {
    -webkit-text-stroke-color: var(--sidebar-stroke-color);
}

.text-stroke-\[0\.1vw\] {
    -webkit-text-stroke-width: 0.1vw;
}

.lg-backdrop {
    background-color: var(--background-light-color);
    opacity: 0.8 !important;
}

.lg-container:not([class~="lg-inline"]) .lg-outer {
    width: 90%;
    height: 90%;
    margin: 5vh 5vw;
}

.lg-thumb-outer {
    background-color: var(--background-light-color) !important;
    opacity: 0.8 !important;
}

.lg-prev {
    background-color: var(--background-light-color);
    color: var(--main-dark-color);
}

.lg-next {
    background-color: var(--background-light-color);
    color: var(--main-dark-color);
}

.lg-counter {
    color: var(--main-dark-color);
    font-family: 'Spectral';
    font-size: 1vmax;
    padding-top: 0;
    height: 1vmax;
}

.lg-container:not([class~="lg-inline"]) .lg-counter {
    font-size: 2vmax;
    height: 2vmax;
}

.lg-content {
    top: 3vmax !important;
}

.lg-container:not([class~="lg-inline"]) .lg-content {
    top: 4vmax !important;
}

.lg-toolbar .lg-icon {
    padding: 0 0.7vmax;
    font-size: 1.5vmax !important;
    height: 1.5vmax;
    width: auto;
    color: var(--main-dark-color);
}

.lg-container:not([class~="lg-inline"]) .lg-toolbar .lg-icon {
    font-size: 3vmax !important;
    height: 3vmax;
}

.lg-toolbar .lg-icon:hover {
    color: var(--main-medium-color);
}

.lg-toolbar .lg-icon {
    font-size: 1.5vmax !important;
    color: var(--main-dark-color);
}

.lg-content .lg-icon:hover {
    color: var(--main-medium-color);
}

.lg-sub-html {
    padding: 0.7vmin 1.25vmin !important;
}

.inline-gallery-container {
    width: 80%;
    height: 60vmin;
}

.light-gallery-captions {
    p {
        transform: translate3d(0, 0, 0px);
        transition-delay: 500ms;
        opacity: 1;
    }
}

.lg-slide-progress {
    .light-gallery-captions {
        h4 {
            transform: translate3d(-60px, 0, 0px);
        }

        p {
            transform: translate3d(60px, 0, 0px);
        }

        h4,
        p {
            opacity: 0;
        }
    }
}

.lg-current {
    &.lg-slide-progress {
        .light-gallery-captions {

            h4,
            p {
                transition-delay: 0ms;
            }
        }
    }
}

@media (min-aspect-ratio: 0.8/1) {
    .ar-gt-0\.8\:mr-\[1\.2vmin\] {
        margin-right: 1.2vmin;
    }

    .ar-gt-0\.8\:w-fit {
        width: fit-content;
    }

    .ar-gt-0\.8\:min-w-fit {
        min-width: fit-content;
    }

    .ar-gt-0\.8\:min-w-\[10vh\] {
        min-width: 10vh;
    }

    .ar-gt-0\.8\:max-w-\[20vh\] {
        max-width: 20vh;
    }

    .ar-gt-0\.8\:max-w-\[100vh\] {
        max-width: 100vh;
    }

    .ar-gt-0\.8\:items-center {
        align-items: center;
    }
}

@media (max-aspect-ratio: 0.8/1) {
    .bg-sidebar {
        background-size: calc(var(--squares-and-triangles-background-width-coef) * 1.6vh) calc(var(--squares-and-triangles-background-height-coef) * 1.6vh);
    }

    .inline-gallery-container {
        width: 100%;
    }

    .logo-custom {
        display: none;
    }

    .nav-icon-custom {
        font-size: 5vh !important;
        -webkit-text-stroke: 0.1vh var(--sidebar-stroke-color);
        width: 8vh;
        height: 8vh;
        align-content: center;
        text-align: center;
    }

    .nav-icon-custom:hover {
        font-size: 7vh;
    }

    .bg-pattern-body {
        background-size: 10vh;
    }

    .ar-lt-0\.8\:grid {
        display: grid;
    }

    .ar-lt-0\.8\:flex-col {
        flex-direction: column;
    }

    .ar-lt-0\.8\:flex-row {
        flex-direction: row;
    }

    .ar-lt-0\.8\:h-\[8vh\] {
        height: 8vh;
    }

    .ar-lt-0\.8\:h-\[10vh\] {
        height: 10vh;
    }

    .ar-lt-0\.8\:h-\[90vh\] {
        height: 90vh;
    }

    .ar-lt-0\.8\:w-\[8vh\] {
        width: 8vh;
    }

    .ar-lt-0\.8\:w-\[90vw\] {
        width: 90vw;
    }

    .ar-lt-0\.8\:w-screen {
        width: 100vw;
    }

    .ar-lt-0\.8\:max-h-\[80\%\] {
        max-height: 80%;
    }

    .ar-lt-0\.8\:text-\[5vh\] {
        font-size: 5vh;
    }

    .ar-lt-0\.8\:ml-\[5vw\] {
        margin-left: 5vw;
    }

    .ar-lt-0\.8\:hidden {
        display: none;
    }
}

@media (max-aspect-ratio: 0.4/1) {
    .ar-lt-0\.4\:w-\[100vw\] {
        width: 100vw;
    }

    .ar-lt-0\.4\:ml-0 {
        margin-left: 0;
    }
}

.star {
    color: var(--color-yellow-100);
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    user-select: none;
    -webkit-user-select: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
